:root {
    --header-color: #ffffff;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
}

body {
    font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/* ------------------HEAdER------------------- */

.header {
    background-color: grey;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    margin-right: 70px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-connect {
    margin-left: auto;
}

.header-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.current {
    color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
} */

.header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--first-btn-color);
    margin-left: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    min-width: 160px;
    min-height: 40px;
}

/* ------------------HERO------------------- */

.hero {
}

.hero-right {
    background-color: rgb(32, 32, 32);
    flex-grow: 1;
    padding: 272px 0 206px 96px;
}

.hero-list {
    width: 93px;
}

.hero-container {
    display: flex;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--first-title-color);
}

.hero-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    max-width: 400px;
}

/* ------------------ABOUT------------------- */

.about {
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
}

.about-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
}

.about-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--second-btn-color);
}

/* ------------------PRICES------------------- */

.prices {
    background-color: var(--second-title-color);
    padding-top: 130px;
    padding-bottom: 130px;
}

.prices-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.prices-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--first-title-color);
    margin-bottom: 44px;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.prices-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--first-btn-color);
}

/* ------------------REASONS------------------- */

.reasons {
    padding-top: 121px;
    padding-bottom: 130px;
}

.reasons-digit {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

.reasons-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
}

.reasons-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.reasons-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

/* ------------------MASTERS------------------- */

.masters {
    padding-top: 130px;
    padding-bottom: 130px;
}

.masters-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
}

.masters-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.masters-item {
    /* flex-basis: calc(100% / 3 - 30px); */
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
}

/* .masters-item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
} */

.masters-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.masters-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* ------------------GALLERY------------------- */

.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.gallery-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
