.header {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header__container {
  @extend %align-list;
}

.site-list {
  display: flex;
}

.site-list__item:not(:last-child) {
  margin-right: 40px;
}

.connect {
  margin-left: auto;
}

.site-list__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -32px;
  }
}

/* .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
} */

.connect__btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}
