.header {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header__container {
  @extend %align-list;
}

.site-nav {
  display: none;
}

.site-list {
  display: flex;
}

.site-list__item:not(:last-child) {
  margin-right: 40px;
}

.connect {
  margin-left: auto;
  display: none;
}

.site-list__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -32px;
  }
}

/* .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
} */

.connect__btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}

.menu-open-btn {
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  // transform: translate(0);
  transition: left 500ms, visibility 500ms;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-close-btn {
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.mob-menu-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: (25 / 18);
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-connect__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: (25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
  display: block;
  margin-bottom: 24px;
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-social__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.mob-social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: (19 / 14);
  letter-spacing: 0.2em;
  color: #303030;
}

.mob-menu.is-hidden {
  left: 100%;
}
