.hero {
}

.hero-right {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 272px 0 206px 96px;
}

.hero-left {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
  align-items: center;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 40px;
  }
}

.hero-container {
  display: flex;
}

.hero-item {
  & + & {
    margin-left: 40px;
  }
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
}
