.prices {
  background-color: #111319;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  width: 50%;
  padding: 30px 40px;
}

.prices-list-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  /* width: 100%; */
  /* background: rgba(157, 164, 189, 0.12); */
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}
