.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  min-height: 40px;
  transition: background-color 300ms linear, color 300ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--first-btn-color);
  }
}
