.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.62);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden {
  .modal {
    transform: scale(0.5);
  }
}

.modal {
  width: 90vw;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  transition: transform 500ms;
  padding: 35px;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 480px) {
    width: 500px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
  @extend %align-list;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}
.form-input {
  width: 100%;
  height: 45px;
  border: 1px solid#999999;
  border-radius: 5px;
  padding-left: 40px;
  color: #ee82ee;
  outline: none;
  transition: border-color 500ms;
  &:focus {
    border-color: var(--accent-color);
    & + .input-icon {
      fill: var(--accent-color);
    }
  }
  &::placeholder {
    color: tomato;
  }
}

.input-text {
  font-size: 12px;
  color: grey;
  display: block;
  margin-bottom: 5px;
}

.form-text {
  width: 100%;
  height: 100px;
  border: 1px solid#999999;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}

.field {
  border: 1px solid green;
  border-radius: 5px;
}

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: #999999;
  @extend %align-list;
  position: relative;
  &::before {
    content: "";
    width: 40px;
    height: 24px;
    border: 1px solid #999999;
    border-radius: 50px;
    margin-right: 5px;
    transition: background-color 500ms;
  }
  &::after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #c8c3c3;
    position: absolute;
    left: 2px;
    top: 3px;
    transition: transform 500ms, background-color 500ms;
  }
}

.check-text .policy-check:checked + .check-text {
  &::after {
    transform: translate(18px);
    background-color: honeydew;
  }
  &::before {
    background-color: rgb(175, 230, 175);
  }
}

/* ---------------------------------- */

/* .check-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}

.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* ----------------------------------------------- */

/* .check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-icon {
  fill: transparent;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}

.policy-check:checked + .check-text .policy-icon {
  fill: #ffffff;
} */
